extends layout

block content
	- if (!data.length)
		h1 You are not banned
	- else
		- var i = -1
		- while (++i < data.length)
			- if (data[i].board == '_')
				// do global ban notice
			- else
				// do local ban notice
