extends layout

block content
	form(id="createBoard",method="POST",action="",enctype="multipart/form-data")
		- if (err && (DEV || status != 500))
			h4._error= err.message
		- else if (err)
			h4._error An unknown error occured. Board was unable to be created.
		fieldset.category
			legend Board Information
			label Board:&nbsp;
				input(name="board",type="text",maxLength="32",pattern="^\/?[a-zA-Z0-9_]+\/?$",placeholder="e.g. /b/",value=(data&&data.board?data.board:''))
			label Title:&nbsp;
				input(name="title",type="text",maxLength="64",placeholder="Title",value=(data&&data.title?data.title:''))
			label Subtitle (aka description):&nbsp;
				input(name="subtitle",type="text",maxLength="128",value=(data&&data.subtitle?data.subtitle:''))
			label Tags:&nbsp;
				input(name="tags",type="text",pattern="^,?[a-zA-Z0-9_]+(?:,[a-zA-Z0-9_]+){0,8},?$",placeholder="split,tags,with,commas",value=(data&&data.tags?data.tags:''))
		
		fieldset.category
			legend Board Limits
			label Locked thread preview limit:&nbsp;
				input(name="lockedlimit",type="number",min="0",max="10",value=(data&&data.lockedlimit?data.lockedlimit:0))
			label Pinned thread preview limit:&nbsp;
				input(name="pinnedlimit",type="number",min="0",max="10",value=(data&&data.pinnedlimit?data.pinnedlimit:1))
			label Sticky thread preview limit:&nbsp;
				input(name="stickylimit",type="number",min="0",max="10",value=(data&&data.stickylimit?data.stickylimit:2))
			label Cycle thread preview limit:&nbsp;
				input(name="cyclelimit",type="number",min="0",max="10",value=(data&&data.cyclelimit?data.cyclelimit:3))
			label Archived thread preview limit:&nbsp;
				input(name="archivedlimit",type="number",min="0",max="10",value=(data&&data.archivedlimit?data.archivedlimit:3))
			label Standard thread preview limit:&nbsp;
				input(name="standardlimit",type="number",min="0",max="10",value=(data&&data.standardlimit?data.standardlimit:5))
			label Thread count limit:&nbsp;
				input(name="threadlimit",type="number",min="10",max="150",value=(data&&data.threadlimit?data.threadlimit:50))
			label Thread bump limit:&nbsp;
				input(name="bumplimit",type="number",min="100",max="500",value=(data&&data.bumplimit?data.bumplimit:150))
			label Media upload limit per thread:&nbsp;
				input(name="medialimit",type="number",min="0",max="750",value=(data&&data.medialimit?data.medialimit:750))
			label Thread post count limit:&nbsp;
				input(name="postlimit",type="number",min="100",max="1000",value=(data&&data.postlimit?data.postlimit:300))
			label Media upload limit per post:&nbsp;
				input(name="mediauploadlimit",type="number",min="0",max="4",value=(data&&data.mediauploadlimit?data.mediauploadlimit:1))
			
		fieldset.category
			legend Flag Options
			label Publicly Listed:&nbsp;
				input(name="listed",type="checkbox",checked=(data?(data.listed?true:false):true))
			label Mark board as implicitly NSFW:&nbsp;
				input(name="nsfw",type="checkbox",checked=(data?(data.nsfw?true:false):true))
			label Enable thread archiving:&nbsp;
				input(name="archivethreads",type="checkbox",checked=(data?(data.archvethreads?true:false):true))
			label Prevent duplicate image per thread (defaut is the entire board):&nbsp;
				input(name="perthreadunique",type="checkbox",checked=(data?(data.perthreadunique?true:false):false))
			label Enable the email field for posts:&nbsp;
				input(name="emailsubmit",type="checkbox",checked=(data?(data.emailsubmit?true:false):true))
			label Let bans be publically visible:&nbsp;
				input(name="publicbans",type="checkbox",checked=(data?(data.publicbans?true:false):false))
			label Let activity logs be publically visible:&nbsp;
				input(name="publiclogs",type="checkbox",checked=(data?(data.publiclogs?true:false):true))
			label Let post edit notices be publically visible:&nbsp;
				input(name="publicedits",type="checkbox",checked=(data?(data.publicedits?true:false):true))
			label Enable thread IDs:&nbsp;
				input(name="postids",type="checkbox",checked=(data?(data.postids?true:false):true))
			label Include usernames in the activity logs?:&nbsp;
				input(name="loguser",type="checkbox",checked=(data?(data.loguser?true:false):true))
		
		fieldset.category
			legend Additional Options
			label Default Anonymous Name:&nbsp;
				input(name="noname",type="text",maxLength="16",placeholder="Anonymous",value=(data&&data.noname?data.noname:''))
			label Archived thread lifespan:&nbsp;
				input(name="archivedlifespan",type="text",placeholder="3 days",value=(data&&data.archivedlifespan?data.archivedlifespan:''))
			label Board Information Header:&nbsp;
				input(name="ticker",type="text",maxLength="256",value=(data&&data.ticker?data.ticker:''))
		
		input(type="submit",value="Create Board")
