extends layout

block header
	- if (page.type == 'custom')
		h1= data.title

block content
	- if (page.type == 'custom')
		div!= data.markdown
		- if (user.auth('board.manage.pages')) 
			h4: a(href='/'board.board+'/editPage/'+data.page)

	- else if (page.type == 'index')
		h4: a(href='/'+board.board+'/editPage/') Create a New Page
		table
			tr
				th Page
				th Title
				th Actions
			- var i = -1
			- while (++i < data.length)
				tr
					td 
						a(href='/'+board.board+'/'+data[i].page)= data[i].page
					td= data[i].title
					td.actions
						- if (user.auth('board.manage.pages'))
							a.edit(href='/'+board.board'/editPage/'+data[i].page)
		