extends layout

block head
    +style('roles.css')
    
block main 
    - each role in data 
        fieldset.role
            legend= role
            a(href='/'+board.board+'/roles/edit/'+role) Edit Role
            - each user of role 
                div.user #{user.screenname} [#{user.username})]
            