extends layout

block main
	form(id="signup",method="POST",action="/_/signup",enctype="application/x-www-form-urlencoded")
		+CSRF
		- if (err && (DEV || status != 500))
			h4._error= err.message
		- else if (err)
			h4._error Error occured with submission. Try again.
		label Username
			input(name="username",type="text",placeholder="Username",value=(data&&data.username?data.username:''), required)
		label Screen Name
			input(name="screenname",type="text",placeholder="Screen Name",value=(data&&data.screenname?data.screenname:''))
		label Email
			input(name="email",type="email",placeholder="email@domain.tld",value=(data&&data.email?data.email:''))
		label Passphrase
			input(name="passphrase",type="password",placeholder="Passphrase", required)
		label Verify
			input(name="validate",type="password",placeholder="Confirm Passphrase", required)
		label Remember Me
			input(name="rememberme",type="checkbox",checked=false)
		input(type="submit",value="Signup")
