nav .stats >*:not(:last-child):after { content:" / "; }
nav .quicklinks >* { margin-right:8px; }
nav .pages:before { content: "[ "; }
nav .pages:after { content: " ]"; }
nav .pages span:not(:last-child):after { content: " | "; }

.thread .post.reply {
	border-width: 2px;
	border-style: solid;
	margin-top: 10px;
	padding: 5px;
}
.thread.post.op {
	margin-top: 5px;
	border-top-width: 1px;
	border-top-style: solid;
	padding-top: 5px;
}

.thread.post.op {
	border-top-color: #000;
}
.thread .post.reply {
	border-color: #333;
}

#newpost .source +label { text-decoration:underline; }
#newpost .source:not(:checked) +label:after{
	content: " (file)";
}
#newpost .source:checked +label:after{
	content: " (link)";
}

#newpost .showsource +label { text-decoration:underline; }
#newpost .showsource:not(:checked) +label +div +.showsource +label { display:none; }
