._error {color:#e91e63;}
._warning {color:#ffeb3b;}
._notice {color: #03a9f4;}
._info {color:#808080;}

input.toggle,
input.toggle:checked +label.hide,
input.toggle:checked +label +*.flip,
input.toggle:not(:checked) +label +*:not(.flip),
input.toggle:checked +label +*:not(.flip) +*.switch,
input.toggle:not(:checked) +label +*.flip +*.switch {
	display:none;
}

main {
	margin-top: 5px;
	padding-top: 5px;
	border-top-width: 1px;
	border-top-style: solid;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

details { margin-right:0!important; }

figure { margin:15px; }

pre { margin: 0; padding:0; }

input{
	padding-left:0.2em;
	padding-right:0.2em;
}
.brick:before{content:"[";}	.brick:after{content:"]";}
.brace:before{content:"{";}	.brace:after{content:"}";}
.bend:before{content:"<";}	.bend:after{content:">";}
.bow:before:after{content:"/";}
a.brick,a.brace,a.bend,a.bow {text-decoration:none;}

nav:empty{
	display:none;
}
.spoiler{color:black;background-color:black;} .spoiler:hover{color:white;}
.important{color:red;font-size:125%;font-weight:bold;}

.click{cursor:pointer;}

a[target="_blank"] {cursor:alias;}