.post {
	padding-bottom: 5px; 
	overflow: auto; 
}

.post .postid:before{
	content:"ID: ";
}
.post .quote:before{
	content:"#";
}
.post .info >*:not(:empty) {
	margin-right: 8px;
}
.post .info { 
	margin-bottom: 6px; 
}

.post .banned {
	font-size:125%;
	margin-top:10px;
}

.post .actions summary span {
	display:none;
}

.post.reply {
	border-width: 2px;
	border-style: solid;
	margin-top: 10px;
	padding: 5px;
	max-width:80%;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: -ms-max-content;
	width: -o-max-content;
	width: max-content;
}

.post .clean.global:before { content:"Acceptable on this board: ("; }
.post .clean.local:before { content:"Globally acceptable: ("; }
.post .clean.global:after,
.post .clean.local:after { content:")"; }

/* defining actions dropdown menus */
.post .postactions,
.post .mediaactions{
	display: inline-block;
	margin-right: 0;
}
.post .postactions ul,
.post .mediaactions ul {
	list-style: none;
	position: absolute;
	border-style: solid;
	border-width: 2px;
	padding: 8px;
	z-index: 2;
	text-align: center;
	line-height: 22px;
	display: none;
	margin: 0;
}
.post .postactions[open] ul,
.post .mediaactions[open] ul {
	display: inline-block;
}
.post .postactions ul >li,
.post .mediaactions ul >li{
	white-space: nowrap;
}

/* defining post media wrappers */
.post .media
{ float: left; }

.post .media .item { 
	display:inline-block;
	position:relative;
	text-align:center;
	margin-top:0; 
	margin-bottom:0;
	width: -webkit-min-content;
	width: -moz-min-content;
	width: -ms-min-content;
	width: -o-min-content;
	width: min-content;
	white-space: nowrap;
}
.post .media:not(.open) .item { width: 200px; }
.post .media .item .meta { overflow: hidden; text-overflow: ellipsis; }

.post .media .file .thumb,
.post .media .file .spoiler { 
	height: auto; 
	max-width: 200px; 
	margin: 0 auto; 
}
.post .media .file 
{ cursor: default; }

/* iframe specific resizing management */
.post .media .item.open iframe.full {
	min-height: 300px;
	height: 50vh;
	min-width: calc(300px*16/9);
	width: calc(50vh*16/9);
}

.post .media .item:not(.open) .close {
	display:none;
}

.post .media .item.open .close {
	display:inline-block;
	top:0;
	left:0;
	position:absolute;
	padding:1px;
	border-style: solid;
	border-width: 2px;
}

/* defining image visibility control (thumb, spoiler and full view) */
.post .media .item.nsfw .thumb, 
.post .media .item .full,
.post .media .item.open .thumb, 
.post .media .item.open .spoiler,
.post .media .item:not(.open):hover .spoiler,
.post .media .item.open .thumb
{ display: none; }
.post .media .item:not(.open) .spoiler,
.post .media .item:not(.open):not(.nsfw) .thumb,
.post .media .item:not(.open):hover .thumb,
.post .media .item.open .full
{ display: block; }

/* defining layouts for various image counts */
.post .media.one { 
	display: inline-block;
	position: relative;
	top: -5px;
}
.post .media.many.open, .post .media.one.open { 
	display: block;
}
.post .media.many:not(.open) {
	display:flex;
}
.post .media.many, .post .media.one.open { 
	margin-bottom: 10px;
	width: 100%;
}
.post .media.none { display: none; }