
.post .postid:before{
	content:"ID: ";
}
.post .quote:before{
	content:"#";
}
.post .info >*:not(:empty),
.post .media .meta >*:not(:empty) {
	margin-right:8px;
}

.post 
{ padding-bottom:5px; overflow:auto; }
.post .info
{ margin-bottom: 6px; }
.post .info .postactions 
{ margin-right:0; }

.post .clean.global:before { content:"Acceptable on this board: ("; }
.post .clean.local:before { content:"Globally acceptable: ("; }
.post .clean.global:after,
.post .clean.local:after { content:")"; }

/* defining post actions dropdown menu */
.post .postactions{
	position:relative;
	display:inline-block;
}
.post .postactions ul{
	list-style:none;
	position:absolute;
	top: -12px;
	left: 75%;
	border-style: solid;
	border-width: 2px;
	padding:8px;
	z-index:2;
	text-align:center;
	line-height: 22px;
	display:none;
}
.post .postactions:hover ul {
	display:block;
}
.post .postactions ul >li{
	white-space:nowrap;
}

/* defining post media wrappers */
.post .media
{ float:left; }

.post .media .item { 
	display:inline-block!important;
	text-align:center;
	margin-top:0; 
	width: -webkit-min-content;
	width: -moz-min-content;
	width: -ms-min-content;
	width: -o-min-content;
	width: min-content;
	vertical-align: top;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.post .media:not(.open) .item {
	max-width: 150px;
}
.post .media .file .thumb,
.post .media .file .nsfw { 
	height:auto; 
	max-width: 150px; 
	margin: 0 auto; 
}

/* defining image viewing control (thumb, spoiler and full view) */
.post .media .nsfw +.thumb, 
.post .media .full,
.post .media.open .thumb, 
.post .media.open .nsfw
{ display:none; }
.post .media .nsfw,
.post .media .thumb,
.post .media.open .full
{ display:block; }
.post .media .item:hover .file .nsfw 
{ display:none; }
.post .media .item:hover .file .nsfw +.thumb 
{ display:block; }

/* defining the image action buttons */
.post .media .filewrap {
	position:relative;
}
.post .media .filewrap .spoilerimg,
.post .media .filewrap .deleteimg {
	transition:0.5s;
	position: absolute;
	font-size:50px;
	opacity:0.0;
}
@media (max-width:1000px) {
	.post .media .filewrap .spoilerimg,
	.post .media .filewrap .deleteimg {
		font-size: calc(5vw + 10px);
	}
}

.post .media .filewrap .spoilerimg {
	top:0;
	left:0;
}
.post .media .filewrap .deleteimg {
	bottom:0;
	right:0;
}
.post .media .filewrap .spoilerimg >a,
.post .media .filewrap .deleteimg >a {
	position:absolute;
	font-size:0.4em;
}
.post .media .filewrap .spoilerimg >a {
	bottom:1em;
	left:0.5em;
	color:white;
}
.post .media .filewrap .deleteimg >a {
	top:1.5em;
	right:0.3em;
	color:red;
}
.post .media .filewrap:hover .spoilerimg,
.post .media .filewrap:hover .deleteimg {
	opacity:0.5;
}
.post .media .filewrap:hover .spoilerimg >a,
.post .media .filewrap:hover .deleteimg >a {
	opacity:1.0;
}

/* defining layouts for various image counts */
.post .media.one { 
	display:inline-block;
	position:relative;
	margin-top: 5px;
	top:-5px;
	margin-bottom:5px;
}
.post .media.many, .post .media.open { 
	display:block;
	margin-bottom:10px;
	width: 100%;
}
.post .media.none { display:none; }