.roles { display:flex; }
.roles .role {
    display:inline-block;
    min-height:75px;
}
.roles .role .user{
    margin-top:10px;
}
.roles .role .user >form{
    display:inline-block;
    margin-left:10px;
}