
.postactions >ul{
	border-color: black;
	background-color: #f5f5f5;
}

main {
	border-color: #000;
}
.thread .post.reply {
	background-color: #ededed;
	border-color: #333;
}

.laction {
	color:blue;
}
