nav .stats >*:not(:last-child):after { content:" / "; }
nav .quicklinks >* { margin-right:8px; }
nav .pages:before { content: "[ "; }
nav .pages:after { content: " ]"; }
nav .pages span:not(:last-child):after { content: " | "; }

.thread {
	position:relative;
}
.thread:not(:first-of-type) { 
	border-top: solid 1px black; 
	padding-top:5px;
	margin-top:5px;
}
.thread .content +i {
	display:block;
	text-align:right;
}
