nav .stats >*:not(:last-child):after { content:" / "; }
nav .quicklinks >* { margin-right:8px; }
nav .pages:before { content: "[ "; }
nav .pages:after { content: " ]"; }
nav .pages span:not(:last-child):after { content: " | "; }

.thread {
	position:relative;
}
.thread .content +i {
	display:block;
	text-align:right;
}

.thread .post.reply {
	border-width: 2px;
	border-style: solid;
	margin-top: 10px;
	padding: 5px;
	max-width:80%;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: -ms-max-content;
	width: -o-max-content;
	width: max-content;
}
