nav .stats >*:not(:last-child):after { content:" / "; }
nav .quicklinks >* { margin-right:8px; }
nav .pages:before { content: "[ "; }
nav .pages:after { content: " ]"; }
nav .pages span:not(:last-child):after { content: " | "; }

.thread {
	position:relative;
}
.thread .content +i{
	display:block;
	text-align:right;
}

.thread .post.reply {
	border-width: 2px;
	border-style: solid;
	margin-top: 10px;
	padding: 5px;
	max-width:90%;
}
.thread.post.op {
	margin-top: 5px;
	border-top-width: 1px;
	border-top-style: solid;
	padding-top: 5px;
}
